*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
ul{
    list-style: none;
}
.box{
    width: 100%;
    height: 100%;
    background: #2D3748;
    z-index: 0;
    
}
.list{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

/* 初始页面 */
header{
    width: 100%;
    height: 26.95%;
}
header div{
    width: 80%;
    height: 100%;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div img:nth-child(1){
    flex: 1.3;
    background: url('https://www.allenluuu.com/random-tarot/_next/static/media/flip-random.442501a4.svg');    
    background-size: 100% 100%; 
    background-repeat:no-repeat;
    background-position: center center;
    
    
}
header div img:nth-child(2){
    flex: 1;
    background: url('https://www.allenluuu.com/random-tarot/_next/static/media/flip-tarot.f11dcdd0.svg');
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 100% 100%; 
}


section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    margin-top: 4.04%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

ul li div {
    flex: 9.95;
    line-height: 165%;
    box-sizing: border-box;
    padding: 8px 10px 10px;
}
ul li i{
    margin-top: 2%;
}


ul li div:hover{
    text-decoration: underline;
}

/* 弹窗 */
.box2{
    width: 38.71%;
    height: 36.98%;
    background: #2D3748;
    /* margin: 0 auto; */
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -10;
    color: white;
}
.box2 header,footer{
    height: 20%;
    background: #2D3748;
    box-sizing: border-box;
    padding: 3% 4% 2% 4%;
}
.box2 header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* .box2 header i{
    margin-top: 20%;
} */

.box2 section{
    flex: 1;
}

.box2 section .card-text{
    width: 95%;
    height: 90%;
    background:#2D3748;
    margin:  0 auto;
    box-sizing: border-box;
    padding:5% 5%;
    /* 换行属性 */
    word-break:break-all 
}

.box2 footer{
    padding: 2% 4%;
    box-sizing: border-box;
    
}
.box2 footer .btn1,.btn2{
    width: 12%;
    height: 90%;
    border-radius: 20%;
    float: right;
}
.box2 footer .btn2{
    background-color: skyblue;
    color: black;
}
.box2 footer .btn1{
    background-color: #2D3748;
    margin-left: 2%;
    color: white;
}
@media only screen and (max-width: 767px) {
    .list{
        width: 100%;
    }
    .box2 header,footer{
        height: 15%;
    }
    .box2{
        width: 90%;
        height: 50%;
        left: 5%;
    }
    .box2 header i{
        left: 70%;
    }
    .box2 footer .btn1,.btn2{
        width: 20%;
    }
    ul li i{
        margin-top: 3%;
    }
}